body {
    background-color: #0C4767;
    font-family: 'Crimson Text', serif;
    color:rgb(5, 5, 5); 

}
  /* Adding a border for the full page */
.senator{
    border: crimson .45em solid;
}
    /* This is the Title, image, and Main Info */
 .senator-portrait{
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgb(200, 225, 230);
}   
                    /*image sizing */

.senator-picture{
    height: 30%;
    width: 30%;
}
            /*  here is the title */
.main-title{
    font-size: 3em;
    text-decoration: underline black;
    margin:1em 1em .6em 1em;
    padding: 0;
    background-color: rgb(200, 225, 230);
   
}
.under-picture-text{
    font-size: x-large;
    font-weight: bold;
    margin: .3em;
}
.under-picture-text--main{
    font-size: xx-large;
    margin-bottom: .35em;
    font-weight: bold;
}

                /* this is the box for both the bottom items */

.both-items{
    display: flex;
    background-color: rgb(200, 225, 230);
    align-items: stretch;
    justify-content: center;
    
}


                /* Here is the commitees lists */


.committees{
    width: 50%;
    background-color: rgb(200, 225, 230);
    }

.committees-box{
    padding-left: 2em;
}
.committees-title{
    font-size: xx-large;
    border: red 1px solid;
    padding-left: 2em;
}
.committees-list-item{
    list-style: none;
}

                /* Links to the legislation  enacted*/


.links{
    text-align: center;
    background-color: rgb(200, 225, 230);
}
a{
    color: black;
}
.links-list{
    list-style-type: none;
    margin-top: 1em;
}
.links-item{
    margin: 2em;
    color: black;
}
.links-item:hover{
    background-color: rgb(224, 28, 28);
}
.links-title{
    font-size: xx-large;
    border: red 1px solid;
}